---
import ChapterLink from "../../../components/CourseComponents/ChapterLink.astro";
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="machine learning crash course">
    <div  class="text-center my-10">
        <div class="max-w-3xl  mx-auto">
            <div class="my-10">
                <h1 class="text-6xl font-bold mb-5">
                    Pytorch Machine Learning
                </h1>
                <p>
                    Learn machine learning with python machine learning framework pytorch
                </p>
                <div class="mx-auto w-96 h-1 bg-gray-600 rounded-full mt-5"></div>
            </div>
            <div class="my-10">
                <span class="flex flex-col ml-2">
                    <span class="text-lg">
                        Taught by <a href="https://github.com/ezpieco" class="text-blue-600 hover:text-blue-400 hover:underline">Ezpie</a>
                    </span>
                    <span class="text-sm">
                        Creator and founder of ezpie
                    </span>
                </span>
            </div>
            <div class="mx-auto w-24 h-1 bg-blue-600 rounded-full mt-5"></div>
            <div class="my-10">
                <p>
                    <b>Pytorch Machine Learning Course</b>
                    is a simple and easy to follow course, which teaches you the basics of machine learning and how to use the python machine learning framework pytorch.
                </p>
            </div>
        </div>
        <div class="my-10 max-w-7xl mx-auto" id="chapters">
            <h2 class="text-5xl">CHAPTERS</h2>
            <section class="grid gap-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 mt-10">
                <ChapterLink link="/courses/machine-learning/intro" title="Course Intro" description="All to know before taking this course" />
                <ChapterLink link="/courses/machine-learning/what-is-ml" title="What is Machine Learning" description="A brefe intro to what machine learning really is" />
                <ChapterLink link="/courses/machine-learning/what-is-a-neural-network" title="What is a Neural Network" description="A deep dive into what neural networks are." />
                <ChapterLink link="/courses/machine-learning/what-is-pytorch" title="What is PyTorch" description="Knowing about the framework we will use." />
                <ChapterLink link="/courses/machine-learning/getting-started" title="Getting started" description="Writing some code with pytorch using google colab." />
                <ChapterLink link="/courses/machine-learning/what-are-tensors" title="What and how to make Tensors" description="Getting to know what Tensors are, and how to make with PyTorch." />
                <ChapterLink link="/courses/machine-learning/reshape-squeezing-unsqueezing" title="Reshape, Squeezing and Unsqueezing" description="Getting to know what errors we can run into and how to fix them." />
                <ChapterLink link="/courses/machine-learning/pytorch-and-numpy" title="PyTorch and Numpy" description="Using numpy with pytorch." />
                <ChapterLink link="/courses/machine-learning/device-agnostic" title="Why use device agnostic and setting up" description="Getting to know what advantages we have with device agnostic." />
                <ChapterLink link="/courses/machine-learning/pytorch-model-journey" title="The PyTorch model's journey" description="Understanding the steps it takes to make a pytorch model." />
                <ChapterLink link="/courses/machine-learning/preparing-data" title="Preparing the data and loading it" description="Preparing our data and getting to know about it." />
                <ChapterLink link="/courses/machine-learning/making-a-model" title="Making a PyTorch model" description="Making the PyTorch model and understanding it." />
                <ChapterLink link="/courses/machine-learning/training-the-model" title="Training the model" description="Making a training loop in order to train the model." />
                <ChapterLink link="/courses/machine-learning/saving-and-loading-the-model" title="Saving and Loading the model" description="In order to use the model later on we need to save it and load it later." />
                <ChapterLink link="/courses/machine-learning/understanding-classification-problem" title="understanding Classification problem" description="Understanding what a classifictation problem has for us." />
                <ChapterLink link="/courses/machine-learning/creating-data-for-binary-classification" title="Creating a dataset for binary classification" description="Creating the same data in the intro chapter for binary classification." />
                <ChapterLink link="/courses/machine-learning/creating-a-model-for-binary-classification" title="Creating a model for binary classification" description="Creating a model that can learn and pridict with the binary classification data." />
                <ChapterLink link="/courses/machine-learning/training-model-for-binary-classification" title="Creating a training loop for binary classification" description="Creating the training loop for the model to learn patterns in the data." />
                <ChapterLink link="/courses/machine-learning/non-linearity" title="Understanding non-linearity" description="Understanding what non-linearity means." />
                <ChapterLink link="/courses/machine-learning/non-linearity-model" title="Making the model" description="Making the model for our non-linear dataset." />
                <ChapterLink link="/courses/machine-learning/imporving-the-model-by-model-point-of-view" title="Imporving the model" description="After making the model we will imporve the model to give 100% accuracy." />
                <ChapterLink link="/courses/machine-learning/creating-data-for-multi-classification" title="Creating dataset for multi-classification" description="Creating a dataset of 5 labels for multi-classifiaction." />
                <ChapterLink link="/courses/machine-learning/creating-the-model-for-multi-classification" title="Creating the model" description="Creating the model for multi-classification." />
            </section>
        </div>
        <div class="mx-auto w-24 h-1 bg-red-600 rounded-full mt-5"></div>
    </div>
</MainLayout>