---
import MainLayout from "../layout/MainLayout.astro";

const title = "Ezpie - Learn Programming";
const description = "Learn to Code with simple blogs";
---

<MainLayout title={title} description={description}>
  <img src="/default.svg" alt="Ezpie default image" />
  <section class="min-h-screen  about items-center flex justify-center  text-justify py-10 px-16 ">
    <img src="/images/about.svg" width="500px"/>
    <div class="text px-7">
      <h1 class="text-5xl font-bold mb-5">who are we</h1> 
      <p class="">
        Welcome to ezpie, an open-source platform dedicated to empowering
        developers and making programming accessible to all. At ezpie, our mission
        is to simplify the learning process and provide valuable resources for
        developers of all skill levels.
      </p>
      <p>
        We believe that everyone should have the opportunity to learn and excel in
        programming. With this vision in mind, we created ezpie as an open-source
        project, inviting developers from around the world to contribute and
        collaborate. Our goal is to build a thriving community where knowledge is
        shared freely and accessible to all.
      </p>

    </div>

  </section>
  <section class="min-h-screen flex-col text-center items-center flex justify-centertext-center py-10 px-16">
    <h1 class="text-5xl font-bold  mb-5">Why Choose Us?</h1>
    <p class="w-[80%]">
      At ezpie, you'll find a range of resources to enhance your programming
      skills. Our platform features a collection of informative blog posts,
      practical tutorials, and insights into various programming fields,
      including web development, app development, full stack, backend, frontend,
      algorithms, and more. 
    </p>
    <img  style="width:600px;" src="/images/code.png" alt="Ezpie default image" />
  </section>

  <section class="min-h-screen flex-col text-center items-center flex justify-centertext-center py-10 px-16">
    <h1 class="text-5xl font-bold  mb-5">add your course?</h1>
    <p class="w-[80%]">
you can help many new programmers to improve their programming skill by adding your course to our website
become a hero just with a github pull request
    </p>
    <img  style="width:600px;" src="/images/code.png" alt="Ezpie default image" />
  </section>
</MainLayout>
